In [ ]:
https://www.linkedin.com/learning/getting-started-with-python-for-finance/loading-data?resume=false&u=102890404

In [3]:
from matplotlib import dates
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf

In [4]:
raw = yf.download('SYP AAPL', start='2010-01-01', end='2019-12-31')

[*********************100%***********************]  2 of 2 completed

In [8]:
raw.head()

           Adj Close             Close              High               Low  \
                AAPL     SYP      AAPL     SYP      AAPL     SYP      AAPL
Date
2010-01-04  6.496294  1.6625  7.643214  1.6625  7.660714  1.6625  7.585000
2010-01-05  6.507526  1.6625  7.656429  1.6625  7.699643  1.6625  7.616071
2010-01-06  6.404016  1.6625  7.534643  1.6625  7.686786  1.6625  7.526786
2010-01-07  6.392177  1.5750  7.520714  1.5750  7.571429  1.6625  7.466071
2010-01-08  6.434674  1.5750  7.570714  1.5750  7.571429  1.6625  7.466429

                        Open             Volume
               SYP      AAPL     SYP       AAPL     SYP
Date
2010-01-04  1.6625  7.622500  1.6625  493729600  1029.0
2010-01-05  1.6625  7.664286  1.6625  601904800  1240.0
2010-01-06  1.6625  7.656429  1.6625  552160000  2857.0
2010-01-07  1.5750  7.562500  1.6625  477131200     0.0
2010-01-08  1.5750  7.510714  1.6625  447610800     0.0